<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="french">
<head><title>Changer le mot de passe</title></head>
<body>
<h1>Changement de mot de passe requis</h1>
<form th:action="@{/account/change-password}" th:object="${form}" method="post">
    <label>Mot de passe actuel : <input type="password" th:field="*{oldPassword}"/></label>
    <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
    <br/>
    <label>Nouveau mot de passe : <input type="password" th:field="*{newPassword}"/></label>
    <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
    <br/>
    <label>Confirmation : <input type="password" th:field="*{confirmPassword}"/></label>
    <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
    <br/>
    <button type="submit">Valider</button>
</form>
</body>
</html>